* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100px;
    height: 100px;
}

button {
    cursor: pointer;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #c9c7c7;
    border-radius: 0px 0px 30px 30px;
    margin-bottom: 40px;
}

#logo {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    padding: 0;
}

header ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 20px;
    padding: 15px;
}

header ul button {
    background-color: #c9c7c7;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#checkout {
    display: none;
    position: fixed;
    right: 0;
    top: 0;
    width: 400px;
    height: 100%;
    background-color: #fff;
}

#checkout div {
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    text-transform: uppercase;
}

#checkout .li_carrinho {
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin: 15px 30px;
    text-transform: uppercase;
}

.ul_produtos {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    gap: 30px;
    flex: 1;
}

.item {
    border: 1px solid #c9c7c7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
}

.item button {
    padding: 5px;
    font-size: 14px;
    border: none;
    background-color: rgb(44, 40, 40);
    color: #fff;
}