* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    max-width: 150px;
    border-radius: 8px;
    margin-bottom: 8px;
    object-fit: cover;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #c9c7c7;
    border-radius: 0px 0px 30px 30px;
    margin-bottom: 40px;
}

#logo {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    padding: 0;
}

header ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 20px;
    padding: 15px;
}

header ul button {
    background-color: #c9c7c7;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.ul_produtos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.toast {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #333;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    opacity: 0.9;
    z-index: 1000;
    animation: fadeInOut 3s ease;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    10% {
        opacity: 1;
        transform: translateY(0);
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

#checkout {
    display: none;
    position: fixed;
    right: 0;
    top: 0;
    width: 400px;
    height: 100%;
    background-color: #fff;
    box-shadow: -2px 0 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    z-index: 999;
}

#checkout div {
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    text-transform: uppercase;
}

#checkout .li_carrinho {
    display: flex;
    list-style: none;
    justify-content: space-between;
    box-shadow: -2px 0 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    z-index: 999;
}

.ul_produtos {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    gap: 30px;
    flex: 1;
}

.item {
    border: 1px solid #c9c7c7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
}

.item button {
    padding: 5px;
    font-size: 14px;
    border: none;
    background-color: rgb(44, 40, 40);
    color: #fff;
}


/* ========================== MODAL ============================= */

#modal {
    margin: 20px auto !important;
    padding: 20px;
}



.modal-header {
    display: flex;
    gap: 15px;
}

.modal-main {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px 0;
}

.modal-main div {
    display: flex;
    flex-direction: column;
}

.modal-footer {
    display: flex;
    justify-content: center;
    gap: 30px;
}